.venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.env
.DS_Store
model/*.pkl
!model/phishing_model.pkl
# Dataset
data/raw/*.csv
data/raw/*.json
data/splits/*.csv
data/splits/*.json
data/validation/*.csv